{% extends "base.html" %}

{% block content %}

    <div class="container" style="">

    {% if s == 'American Light Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>American Light Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 1A</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A highly carbonated, very light-bodied, nearly flavorless lager designed to be consumed very cold. Very refreshing and thirst-quenching.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p><p>Very pale straw to pale yellow color. White, frothy head seldom persists. Very clear.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p><p>Low malt aroma optional, but may be perceived as grainy, sweet, or corn-like, if present. Light spicy, floral, or herbal hop aroma optional. While a clean fermentation profile is desirable, a light amount of yeast character is not a fault.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p><p>Relatively neutral palate with a crisp, dry finish and a low to very low grainy or corn-like flavor that might be perceived as sweetness due to the low bitterness. Low floral, spicy, or herbal hop flavor optional, but is rarely strong enough to detect. Low to very low bitterness. Balance may vary from slightly malty to slightly bitter, but is usually close to even. High carbonation may accentuate the crispness of the dry finish. Clean fermentation profile.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p><p>Very light, sometimes watery, body. Very highly carbonated with slight carbonic bite on the tongue.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>Designed to appeal to as broad a range of the general public as possible. Strong flavors are a fault. With little malt or hop flavor, the yeast character often is what most differentiates brands.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>Coors briefly made a light lager in the early 1940s. Modern versions were first produced by Rheingold in 1967 to appeal to diet-conscious drinkers, but only became popular starting in 1973 after Miller Brewing acquired the recipe and marketed the beer heavily to sports fans with the “tastes great, less filling” campaign. Beers of this genre became the largest sellers in the United States in the 1990s.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Two- or six-row barley with up to 40% rice or corn as adjuncts. Additional enzymes can further lighten the body and lower carbohydrates. Lager yeast. Negligible hops.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>A lighter-bodied, lower-alcohol, lower calorie version of an American Lager. Less hop character and bitterness than a German Leichtbier.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>8 - 12</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>2 - 3</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.028 - 1.040</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>0.998 - 1.008</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>2.8% - 4.2%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b> Bud Light, Coors Light, Grain Belt Premium Light American Lager, Michelob Light, Miller Lite, Old Milwaukee Light. </div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>balanced, bottom-fermented, lagered, north-america, pale-color, pale-lager-family, session-strength, traditional-style</p></div><br/>
        </div>
    </div>

    {% elif s == 'American Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>American Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 1B</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A very pale, highly-carbonated, light-bodied, well-attenuated lager with a very neutral flavor profile and low bitterness. Served very cold, it can be a very refreshing and thirst-quenching drink.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Very pale straw to medium yellow color. White, frothy head seldom persists. Very clear.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Low malt aroma optional, but may be perceived as grainy, sweet, or corn-like, if present. Light spicy or floral hop aroma optional. While a clean fermentation profile is desirable, a light amount of yeast character is not a fault.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Relatively neutral palate with a crisp, dry finish and a moderately-low to low grainy or corn-like flavor that might be perceived as sweetness due to the low bitterness. Moderately low hop flavor optional, with a floral, spicy, or herbal quality, if strong enough to distinguish. Low to medium-low bitterness. Balance may vary from slightly malty to slightly bitter, but is usually close to even. High carbonation may accentuate the crispness of the dry finish. Clean fermentation profile.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p><p>Low to medium-low body. Very highly carbonated with slight carbonic bite on the tongue.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>Often what non-craft beer drinkers expect to be served if they order beer in the United States. May be marketed as Pilsner outside Europe, but should not be confused with traditional examples. Strong flavors are a fault. With little malt or hop flavor, the yeast character is what most frequently differentiates brands.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>Evolved from Pre-Prohibition Lager (see Category 27) in the US after Prohibition and World War II. Surviving breweries consolidated, expanded distribution, and heavily promoted a beer style that appealed to a broad range of the population. Became the dominant beer style for many decades, and spawned many international rivals who would develop similarly bland products for the mass market supported by heavy advertising.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Two- or six-row barley with up to 40% rice or corn as adjuncts. Lager yeast. Light use of hops.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>Stronger, more flavor and body than an American Light Lager. Less bitterness and flavor than an International Pale Lager. Significantly less flavor, hops, and bitterness than traditional European Pilsners.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>8 - 19</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>2 - 3.5</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.040 - 1.050</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.004 - 1.010</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>4.2% - 5.3%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Budweiser, Coors Original, Grain Belt Premium Lager, Miller High Life, Old Style, Pabst Blue Ribbon, Special Export.</div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>balanced, bottom-fermented, lagered, north-america, pale-color, pale-lager-family,standard-strength, traditional-style</p></div><br/>
        </div>
    </div>

    {% elif s == 'Cream Ale' %}
    <div class="card">
    <div class="card-body">
        <h3>Cream Ale</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 1C</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A clean, well-attenuated, highly carbonated, flavorful American “lawnmower” beer. Easily drinkable, smooth, and refreshing, with more character than typical American lagers, yet still subtle and restrained.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Pale straw to light gold color, although usually on the pale side. Low to medium head with medium to high carbonation. Fair head retention. Brilliant, sparkling clarity. Effervescent.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Medium-low to low malt notes, with a sweet, corn-like aroma. Low DMS optional. Medium-low hop aroma optional, using any variety but floral, spicy, or herbal notes are most common. Overall, has a subtle, balanced aroma. Low fruity esters optional.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Low to medium-low hop bitterness. Low to moderate malty sweetness, varying with gravity and attenuation. The malt is generally neutral, possibly grainy or crackery. Usually well-attenuated. Balanced palate, with hops only enough to support the malt. A low to moderate corny flavor is commonly found, but light DMS is optional. Finish can vary from somewhat light, dry, and crisp to faintly sweet. Clean fermentation profile, but low fruity esters are optional. Low to medium-low hop flavor of any variety, but typically floral, spicy, or herbal. Subtle.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p><p>Generally light and crisp, although body can reach medium. Smooth mouthfeel with medium to high attenuation; higher attenuation levels can lend a “thirst quenching” quality. High carbonation.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>Most commercial examples are in the 1.050–1.053 OG range, and bitterness rarely rises above 20 IBUs.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>A sparkling or present-use ale from the second half of the 1800s that survived prohibition. An ale brewed to compete with lagers brewed in Canada and the US Northeast, Mid-Atlantic, and Midwest states.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>American six-row malt, or a combination of six-row and North American two-row. Up to 20% maize in the mash, and up to 20% sugar in the boil. Any variety of hops, often rustic American or Continental. Clean ale yeast, or a mix of ale and lager beer.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>Similar to a Standard American Lager, but with more character. Lighter body, smoother, and more carbonated than a Blonde Ale. May seem like a somewhat subtle Kölsch.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>8 - 20</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>2 - 5</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.042 - 1.055</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.006 - 1.012</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>4.2% - 5.6%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Genesee Cream Ale, Liebotschaner Cream Ale, Little Kings Cream Ale, Kiwanda Pre-Prohibition Cream Ale, Sleeman Cream Ale, Sun King Sunlight Cream Ale.</div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>any-fermentation, balanced, north-america, pale-ale-family, pale-color, standard-strength, traditional-style</p></div><br/>
        </div>
    </div>

    {% elif s == 'American Wheat Beer' %}
    <div class="card">
    <div class="card-body">
        <h3>American Wheat Beer</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 1D</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A pale, refreshing grainy, doughy, or bready wheat beer with a clean fermentation profile and a variable hop character and bitterness. Its lighter body and higher carbonation contribute to its easy-drinking nature.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Usually pale yellow to gold. Clarity may range from brilliant to hazy with yeast approximating a Weissbier. Big, long-lasting white head.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Low to moderate grainy, bready, or doughy wheat character. A light to moderate malty sweetness is acceptable. Moderate esters optional, usually a neutral profile; banana is inappropriate. Low to moderate citrusy, spicy, floral, or fruity hop aroma. Not typically dry-hopped. No clove phenols.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Light to moderately-strong bready, doughy, or grainy wheat flavor, which can linger into the finish. May have a moderate malty sweetness or can finish quite dry and crisp. Low to moderate hop bitterness, sometimes lasting into the finish. Balance is usually even, but may be slightly bitter. Low to moderate citrusy, spicy, floral, or fruity hop flavor. Moderate esters optional. No banana. No clove phenols.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p>Medium-light to medium body. Medium-high to high carbonation. Slight creaminess is optional; wheat beers sometimes have a soft, ‘fluffy’ impression.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>Different variations exist, from an easy-drinking fairly sweet beer to a dry, aggressively-hopped beer with a strong wheat flavor. American Rye beers should be entered as 31A Alternative Grain Beer.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>An American craft beer adaptation of the Weissbier style using a cleaner yeast and more hops, first produced by Anchor in 1984 and later widely popularized by Widmer.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Clean American ale or lager yeast. German Weissbier yeast is inappropriate. Wheat malt (often 30–50%, lower than is typical in Weissbier). American, German, or New World hops.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>More hop character and less yeast character than Weissbier. Never with the banana and clove character of Weissbier. Generally has the same range and balance as Blonde Ales, but with a wheat character as the primary malt flavor.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>15 - 30</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>3 - 6</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.040 - 1.055</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.008 - 1.013</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>4.0% - 5.5%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Bell’s Oberon, Boulevard Unfiltered Wheat Beer, GoodLife Sweet As! Pacific Ale, Goose Island 312 Urban Wheat Ale, Widmer Hefeweizen.</div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>any-fermentation, balanced, craft-style, north-america, pale-color, standard-strength, wheat-beer-family</p></div><br/>
        </div>
    </div>

    {% elif s == 'International Pale Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>International Pale Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 2A</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A highly-attenuated pale lager without strong flavors, typically well-balanced and highly carbonated. Served cold, it is refreshing and thirst-quenching.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Pale straw to gold color. White, frothy head may not be long lasting. Very clear.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Low to medium-low grainy-malty or slightly corny-sweet malt aroma. Very low to medium spicy, floral, or herbal hop aroma. Clean fermentation profile.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Low to moderate levels of grainy-malt flavor, medium-low to medium bitterness, with a crisp, dry, well-attenuated finish. The grain character can be somewhat neutral, or show a light bready-crackery quality. Moderate corny or malty sweetness optional. Medium floral, spicy, or herbal hop flavor optional. Balance may vary from slightly malty to slightly bitter, but is usually relatively close to even. Neutral aftertaste with light malt and sometimes hop flavors.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p>Light to medium body. Moderately high to highly carbonated. Can have a slight carbonic bite on the tongue.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>Tends to have fewer adjuncts than American Lagers. They may be all-malt, although strong flavors are still a fault. A broad category of international mass-market lagers ranging from up-scale American lagers to the typical “import” or “green bottle” international beers found in America and many export markets. Often confusingly labeled as a “Pilsner.” Any skunkiness in commercial beers is a handling fault, not a characteristic of the style.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>In the United States, developed as a premium version of the standard American lager, with a similar history. Outside the US, developed either as an imitation of American-style lagers, or as a more accessible (and often drier and less bitter) version of a Pilsner-type beer. Often heavily marketed and exported by large industrial or multi-national breweries.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Two- or six-row barley. May use rice, corn, or sugar as adjuncts, but are generally all malt.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>Generally more bitter and filling than American Lager. Less hoppy and bitter than a German Pils. Less body, malt flavor, and hop character than a Czech Premium Pale Lager. More robust versions can approach a Munich Helles in flavor, but with more of an adjunct quality.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>18 - 25</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>2 - 6</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.042 - 1.050</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.008 - 1.012</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>4.5% - 6%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Asahi Super Dry, Birra Moretti, Corona Extra, Devils Backbone Gold Leaf Lager, Full Sail Session Premium Lager, Heineken, Red Stripe, Singha.</div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>balanced, bottom-fermented, lagered, pale-color, pale-lager-family, standard-strength, traditional-style</p></div><br/>
        </div>
    </div>

    {% elif s == 'International Amber Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>International Amber Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 2B</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A smooth, easily-drinkable, malty amber lager with a flavorful caramel or toast character. Usually fairly well-attenuated, often with an adjunct quality and restrained bitterness.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Golden-amber to reddish-copper color. Bright clarity. White to off-white foam stand which may not last.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Low to moderate grainy malt aroma often with very low to moderate caramel or toasty malt accents. Occasionally, nutty or biscuity, but never roasty. Low, unobtrusive floral or spicy hop aroma. Clean fermentation profile.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Low to moderate malt flavor, often with caramel or toasty-bready flavors. Low to medium-low corny sweetness optional. Low to moderate bitterness, giving the beer a malty to fairly even balance. Low to moderate spicy, herbal, or floral hop flavor. Clean fermentation profile. The finish is moderately dry with a moderately malty aftertaste. The beer may seem a touch sweet if the bitterness level is low.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p>Light to medium body. Medium to high carbonation. Smooth. Some examples can be slightly creamy.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>A wide spectrum of mass-market amber lagers either developed independently in various countries, or describing rather generic amber beers with more historical relevance that eventually changed into indistinguishable products in modern times.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>Varies by country, but generally represents either an adaptation of the mass-market International Pale Lager, or an evolution of indigenous styles into more generic products.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Two-row or six-row base malt. Color malts such as Victory, amber, or roast. May be all malt or use adjuncts. Sugars or coloring agents possible. Caramel malt. European or American hops.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>Less well-developed malt flavor than a Vienna Lager, often with an adjunct taste. Less robust flavor and bitterness than Altbier.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>8 - 25</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>6 - 14</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.042 - 1.055</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.008 - 1.014</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>4.5% - 6%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Abita Amber Lager, Brooklyn Lager, Capital Wisconsin Amber Lager, Dos Equis Amber, Grain Belt NordEast, Yuengling Lager.</div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>amber-color, amber-lager-family, bottom-fermented, lagered, malty, standard-strength, traditional-style</p></div><br/>
        </div>
    </div>

    {% elif s == 'International Dark Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>International Dark Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 2C</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A darker, richer, and somewhat sweeter version of international pale lager with a little more body and flavor, but equally restrained in bitterness. The low bitterness leaves the malt as the primary flavor element, and the low hop levels provide very little in the way of balance.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Deep amber to very dark brown with bright clarity and ruby highlights. Foam stand may not be long lasting, and is beige to light tan in color.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Faint malt aroma. Medium-low roast and caramel malt aroma optional. Light spicy, herbal, or floral hop aroma optional. Clean fermentation profile.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Low to medium sweet maltiness. Medium-low caramel or roasted malt flavors optional, possibly with hints of coffee, molasses, brown sugar, or cocoa. Low floral, spicy, or herbal hop flavor optional. Low to medium bitterness. May have a very light fruitiness. Moderately crisp finish. The balance is typically somewhat malty. Burnt or moderately strong roasted malt flavors are inappropriate.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p>Light to medium-light body. Smooth with a light creaminess. Medium to high carbonation.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>A broad range of international lagers that are darker than pale, and not assertively bitter or roasted.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>Darker versions of International Pale Lagers often created by the same large, industrial breweries and meant to appeal to a broad audience. Often either a colored or sweetened adaptation of the standard pale industrial lager, or a more broadly accessible (and inexpensive) version of more traditional dark lagers.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Two- or six-row barley with corn, rice, or sugars adjuncts. Light use of caramel and darker roasted malts. Commercial versions may use coloring agents.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>Less flavor and richness than Munich Dunkel, Schwarzbier, or other dark lagers. Frequently uses adjuncts, as is typical of other International Lagers.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>8 - 20</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>14 - 30</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.044 - 1.056</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.008 - 1.012</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>4.2% - 6%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Baltika #4 Original, Dixie Blackened Voodoo, Heineken Dark Lager, Saint Pauli Girl Dark, San Miguel Dark, Shiner Bock.</div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>bottom-fermented, dark-color, dark-lager-family, lagered, malty, standard-strength, traditional-style</p></div><br/>
        </div>
    </div>

    {% elif s == 'Czech Pale Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>Czech Pale Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 3A</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A lighter-bodied, rich, refreshing, hoppy, bitter pale Czech lager having the familiar flavors of the stronger Czech Premium Pale Lager (Pilsner-type) beer but in a lower alcohol, lighter-bodied, and slightly less intense format.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Light yellow to deep gold color. Brilliant to very clear, with a long-lasting, creamy white head.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Light to moderate bready-rich malt combined with light to moderate spicy or herbal hop bouquet; the balance between the malt and hops may vary. Faint hint of caramel is acceptable. Light (but never intrusive) diacetyl and light, fruity esters are optional. No sulfur.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Medium-low to medium bready-rich malt flavor with a rounded, hoppy finish. Low to medium-high spicy or herbal hop flavor. Bitterness is prominent but never harsh. Flavorful and refreshing. Low diacetyl or fruity esters are optional, but should never be overbearing.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p>Medium-light to medium body. Moderate carbonation.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>The Czech name of the style is světlé výčepní pivo.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>Josef Groll initially brewed two types of pale beer in 1842–3, a výčepní and a ležák, with the smaller beer having twice the production; Evan Rail speculates that these were probably 10 °P and 12 °P beers, but that the výčepní could have been weaker. This is the most consumed type of beer in the Czech Republic at present.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Soft water with low sulfate and carbonate content. Traditional Czech hops. Czech Pilsner malt. Czech lager yeast. Low ion water provides a distinctively soft, rounded hop profile despite high hopping rates.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>A lighter-bodied, lower-intensity, refreshing, everyday version of Czech Premium Pale Lager.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>20 - 35</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>3 - 6</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.028 - 1.044</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.008 - 1.014</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>3% - 4.1%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Bernard světlé pivo 10, Březňák Světlé výčepní pivo, Notch Session Pils, Primátor Antonín světlé výčepní, Radegast Rázna 10, Únětické pivo 10°.</div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>bottom-fermented, central-europe, hoppy, lagered, pale-color, pale-lager-family, session-strength, traditional-style</p></div><br/>
        </div>
    </div>

    {% elif s == 'Czech Premium Pale Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>Czech Premium Pale Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 3B</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A refreshing pale Czech lager with considerable malt and hop character and a long finish. The malt flavors are complex for a Pilsner-type beer. The bitterness is strong and clean but lacks harshness, which gives a well-balanced, rounded flavor impression that enhances drinkability.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Medium yellow to deep gold color. Brilliant to very clear clarity. Dense, long-lasting, creamy white head.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Medium to medium-high bready-rich malt and medium-low to medium-high spicy, floral, or herbal hop bouquet; though the balance between the malt and hops may vary, the interplay is rich and complex. Light diacetyl, or very low fruity esters are optional. Esters tend to increase with gravity.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Rich, complex, bready maltiness combined with a pronounced yet soft and rounded bitterness and floral and spicy hop flavor. Malt and hop flavors are medium to medium-high, and the malt may contain a slight impression of caramel. Bitterness is prominent but never harsh. The long finish can be balanced towards hops or malt but is never aggressively tilted either way. Light to moderately-low diacetyl and low hop-derived esters are acceptable, but need not be present.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p>Medium body. Moderate to low carbonation.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>Generally a group of pivo Plzeňského typu, or Pilsner-type beers. This style is a combination of the Czech styles světlý ležák (11–12.9 °P) and světlé speciální pivo (13–14.9 °P). In the Czech Republic, only Pilsner Urquell and Gambrinus are called Pilsner, despite how widely adopted this name is worldwide. Outside the Czech Republic, Czech Pilsner or Bohemian Pilsner are sometimes used to differentiate the beer from other Pilsner-type beers.
Kvasnicové (“yeast beer”) versions are popular in the Czech Republic, and may be either kräusened with yeasted wort or given a fresh dose of pure yeast after fermentation. These beers are sometimes cloudy, with subtle yeastiness and enhanced hop character. Modern examples vary in their malt to hop balance and many are not as hop-forward as Pilsner Urquell.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>Commonly associated with Pilsner Urquell, which was first brewed in 1842 after construction of a new brewhouse by burghers dissatisfied with the standard of beer brewed in Plzeň. Bavarian brewer Josef Groll is credited with first brewing the beer, although there may have been earlier pale lagers in Bohemia. Just as important as the lager yeast was the use of English malting techniques.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Traditional Czech hops. Czech malt. Czech lager yeast. Water low in sulfate and carbonate provides a distinctively soft, rounded hop profile despite high hopping rates. The bitterness level of some larger commercial examples has dropped in recent years, although not as much as in many contemporary German examples.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>More color, malt richness, and body than a German Pils, with a fuller finish and a cleaner, softer impression. Stronger than a Czech Pale Lager.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>30 - 45</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>3.5 - 6</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.044 - 1.060</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.013 - 1.017</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>4.2% - 5.8%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Bernard Sváteční ležák, Budvar 33 světlý ležák, Pilsner Urquell, Pivovar Jihlava Ježek 11°, Primátor Premium, Radegast Ryze hořká 12, Únětická 12°.</div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>balanced, bottom-fermented, central-europe, hoppy, lagered, pale-color, pilsner-family, standard-strength, traditional-style</p></div><br/>
        </div>
    </div>

    {% elif s == 'Czech Amber Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>Czech Amber Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 3C</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A malty amber Czech lager with a hop character that can vary from low to quite significant. The malt flavors also can vary, leading to different interpretations and balances ranging from drier, bready, and slightly biscuity to sweeter and somewhat caramel-like.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Deep amber to copper color. Clear to bright clarity. Large, off-white, persistent head.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Moderate intensity, rich malt aroma that can be either bready and Maillard product-dominant or slightly caramelly sweet. Spicy, floral, or herbal hop character may be moderate to none. Clean lager character, though low fruity esters (stone fruit or berries) may be present. Low diacetyl optional.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Complex malt flavor is dominant (medium to medium-high), though its nature may vary from dry and Maillard product-dominant to caramelly and almost sweet. Some examples have a candy-like to graham-cracker malt character. Low to moderate spicy hop flavor. Prominent but clean hop bitterness provides a balanced finish. Subtle plum or berry esters optional. Low diacetyl optional. No roasted malt flavor. Finish may vary from dry and hoppy to relatively sweet.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p>Medium-full to medium body. Soft and round, often with a gentle creaminess. Moderate to low carbonation.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>The Czech name of the style is polotmavé pivo, which translates as half-dark beer. This style is a combination of the Czech styles polotmavý ležák (11–12.9 °P) and polotmavé speciální pivo (13–14.9 °P). Some versions may be a blend of pale and dark lagers.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>A Vienna-style lager which has continued to be brewed in the Czech Republic. A resurgence of small breweries opening in the Czech Republic has increased the number of examples of this style.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Pilsner and caramel malts, but Vienna and Munich malts may also be used. Low mineral content water. Traditional Czech hops. Czech lager yeast.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>The style can be similar to a Vienna Lager but with stronger Czech late hop character, or that approaching a British Bitter but significantly richer with more of a deep caramel character. Large brewery versions are generally similar to Czech Premium Pale Lager with slightly darker malt flavors and less hop, while smaller breweries often make versions with considerable hop character, malt complexity, or residual sweetness.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>20 - 35</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>10 - 16</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.044 - 1.060</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.013 - 1.017</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>4.4% - 5.8%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Bernard Jantarový ležák, Gambrinus Polotmavá 12°, Kozel Semi-Dark, Lobkowicz Démon 13, Primátor polotmavý 13°, Strakonický Dudák Klostermann polotmavý ležák 13°.</div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>amber-color, amber-lager-family, balanced, bottom-fermented, central-europe, lagered, standard-strength, traditional-style</p></div><br/>
        </div>
    </div>

    {% elif s == 'Czech Dark Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>Czech Dark Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 3D</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A rich, dark, malty Czech lager with a roast character that can vary from almost absent to quite prominent. Malty balance and an interesting and complex flavor profile, with variable levels of hopping that provides a range of possible interpretations.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Dark copper to almost black color, often with a red or garnet tint. Clear to bright clarity. Large, off-white to tan, persistent head.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Medium to medium-high rich, deep, sometimes sweet maltiness, with optional qualities such as bread crusts, toast, nuts, cola, dark fruit, or caramel. Roasted malt characters such as chocolate or sweetened coffee can vary from moderate to none but should not overwhelm the base malt character. Low to moderate spicy hop aroma optional. Low diacetyl and low to moderate fruity esters (plums or berries) may be present.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Medium to medium-high deep, complex maltiness dominates, typically with malty-rich Maillard products and a light to moderate residual malt sweetness. Malt flavors such as caramel, toast, nuts, licorice, dried dark fruit, chocolate, or coffee may also be present, with very low to moderate roast character. Low to moderate spicy hop flavor. Moderate to medium-low bitterness, but should be perceptible. Balance can vary from malty to relatively well-balanced to gently hop-forward. Low to moderate diacetyl and light plum or berry esters may be present.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p>Medium to medium-full body, considerable mouthfeel without being heavy or cloying. Moderately creamy in texture. Smooth. Moderate to low carbonation. Can have a slight alcohol warmth in stronger versions.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>This style is a combination of the Czech styles tmavý ležák (11–12.9 °P) and tmavé speciální pivo (13–14.9 °P). More modern examples are drier and have higher bitterness while traditional versions often have IBUs in the 18–20 range with a sweeter balance.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>The U Fleků brewery has been operating in Prague since 1499, and produces the best-known version. Many small, new breweries are brewing this style.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Pilsner and dark caramel malts with the addition of debittered roasted malts are most common, but additions of Vienna or Munich malt are also appropriate. Low mineral content water. Traditional Czech hops. Czech lager yeast.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>The beer is the Czech equivalent of a dark lager ranging in character from Munich Dunkel to Schwarzbier, but typically with greater malt richness and hop aroma, flavor, and bitterness.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>18 - 34</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>17 - 35</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.044 - 1.060</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.013 - 1.017</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>4.4% - 5.8%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Bernard černý ležák 12°,, Budvar tmavý ležák, Herold tmavé silné pivo 13°, Kozel Dark, Krušovice černé, Primátor dark lager, U Fleků Flekovský tmavý 13° ležák.</div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p>balanced, bottom-fermented, central-europe, dark-color, dark-lager-family, lagered, standard-strength, traditional-style</p></div><br/>
        </div>
    </div>

    {% else %}
        {{ s }}
    {% endif %}

    </div>

{% endblock %}