{% extends "base.html" %}

{% block content %}

    <div class="container" style="">

    {% if s == 'American Light Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>American Light Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 1A</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A highly carbonated, very light-bodied, nearly flavorless lager designed to be consumed very cold. Very refreshing and thirst-quenching.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p><p>Very pale straw to pale yellow color. White, frothy head seldom persists. Very clear.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p><p>Low malt aroma optional, but may be perceived as grainy, sweet, or corn-like, if present. Light spicy, floral, or herbal hop aroma optional. While a clean fermentation profile is desirable, a light amount of yeast character is not a fault.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p><p>Relatively neutral palate with a crisp, dry finish and a low to very low grainy or corn-like flavor that might be perceived as sweetness due to the low bitterness. Low floral, spicy, or herbal hop flavor optional, but is rarely strong enough to detect. Low to very low bitterness. Balance may vary from slightly malty to slightly bitter, but is usually close to even. High carbonation may accentuate the crispness of the dry finish. Clean fermentation profile.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p><p>Very light, sometimes watery, body. Very highly carbonated with slight carbonic bite on the tongue.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>Designed to appeal to as broad a range of the general public as possible. Strong flavors are a fault. With little malt or hop flavor, the yeast character often is what most differentiates brands.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>Coors briefly made a light lager in the early 1940s. Modern versions were first produced by Rheingold in 1967 to appeal to diet-conscious drinkers, but only became popular starting in 1973 after Miller Brewing acquired the recipe and marketed the beer heavily to sports fans with the “tastes great, less filling” campaign. Beers of this genre became the largest sellers in the United States in the 1990s.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Two- or six-row barley with up to 40% rice or corn as adjuncts. Additional enzymes can further lighten the body and lower carbohydrates. Lager yeast. Negligible hops.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>A lighter-bodied, lower-alcohol, lower calorie version of an American Lager. Less hop character and bitterness than a German Leichtbier.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
{#        <div style="display: inline-block"><h5>IBU</h5></div><div style="display: inline-block"><p>&nbsp;&nbsp;8 - 12</p></div><br/>#}
{#        <div style="display: inline-block"><h5>SRM</h5></div><div style="display: inline-block"><p>&nbsp;&nbsp;2 - 3</p></div><br/>#}
{#        <div style="display: inline-block"><h5>OG</h5></div><div style="display: inline-block"><p>&nbsp;&nbsp;&nbsp;1.028 - 1.040</p></div><br/>#}
{#        <div style="display: inline-block"><h5>FG</h5></div><div style="display: inline-block"><p>&nbsp;&nbsp;&nbsp;0.998 - 1.008</p></div><br/>#}
{#        <div style="display: inline-block"><h5>ABV</h5></div><div style="display: inline-block"><p>&nbsp;&nbsp;2.8% - 4.2%</p></div><br/>#}
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>8-12</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>2-3</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.028 - 1.040</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>0.998 - 1.008</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>2.8% - 4.2%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b> Bud Light, Coors Light, Grain Belt Premium Light American Lager, Michelob Light, Miller Lite, Old Milwaukee Light. </div><br/><br/>
        <div class="past-revision"><h5>Past Revision</h5><a href='https://www.bjcp.org/style/2015/1/1A/american-light-lager/'>American Light Lager (2015)</a></div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p><i class="fa fa-tags"></i>  <a href="https://www.bjcp.org/style-tags/balanced/" rel="tag">balanced</a>, <a href="https://www.bjcp.org/style-tags/bottom-fermented/" rel="tag">bottom-fermented</a>, <a href="https://www.bjcp.org/style-tags/lagered/" rel="tag">lagered</a>, <a href="https://www.bjcp.org/style-tags/north-america/" rel="tag">north-america</a>, <a href="https://www.bjcp.org/style-tags/pale-color/" rel="tag">pale-color</a>, <a href="https://www.bjcp.org/style-tags/pale-lager-family/" rel="tag">pale-lager-family</a>, <a href="https://www.bjcp.org/style-tags/session-strength/" rel="tag">session-strength</a>, <a href="https://www.bjcp.org/style-tags/traditional-style/" rel="tag">traditional-style</a> </p></div><br/>
        </div>
    </div>

    {% elif s == 'American Lager' %}
    <div class="card">
    <div class="card-body">
        <h3>American Lager</h3>
        <h5 class="card-subtitle mb-2 text-muted">CODE: 1B</h5>
        <br/><br/>
        <div class="overall-impression"><h5>Overall Impression</h5><p>A very pale, highly-carbonated, light-bodied, well-attenuated lager with a very neutral flavor profile and low bitterness. Served very cold, it can be a very refreshing and thirst-quenching drink.</p>
        </div><br/>
        <div class="appearance"><h5>Appearance</h5><p>Very pale straw to medium yellow color. White, frothy head seldom persists. Very clear.</p>
        </div><br/>
        <div class="aroma"><h5>Aroma</h5><p>Low malt aroma optional, but may be perceived as grainy, sweet, or corn-like, if present. Light spicy or floral hop aroma optional. While a clean fermentation profile is desirable, a light amount of yeast character is not a fault.</p>
        </div><br/>
        <div class="flavor"><h5>Flavor</h5><p>Relatively neutral palate with a crisp, dry finish and a moderately-low to low grainy or corn-like flavor that might be perceived as sweetness due to the low bitterness. Moderately low hop flavor optional, with a floral, spicy, or herbal quality, if strong enough to distinguish. Low to medium-low bitterness. Balance may vary from slightly malty to slightly bitter, but is usually close to even. High carbonation may accentuate the crispness of the dry finish. Clean fermentation profile.</p>
        </div><br/>
        <div class="mouthfeel"><h5>Mouthfeel</h5><p><p>Low to medium-low body. Very highly carbonated with slight carbonic bite on the tongue.</p>
        </div><br/>
        <div class="comments"><h5>Comments</h5><p>Often what non-craft beer drinkers expect to be served if they order beer in the United States. May be marketed as Pilsner outside Europe, but should not be confused with traditional examples. Strong flavors are a fault. With little malt or hop flavor, the yeast character is what most frequently differentiates brands.</p>
        </div><br/>
        <div class="history"><h5>History</h5><p>Evolved from Pre-Prohibition Lager (see Category 27) in the US after Prohibition and World War II. Surviving breweries consolidated, expanded distribution, and heavily promoted a beer style that appealed to a broad range of the population. Became the dominant beer style for many decades, and spawned many international rivals who would develop similarly bland products for the mass market supported by heavy advertising.</p>
        </div><br/>
        <div class="ingredients"><h5>Characteristic Ingredients</h5><p>Two- or six-row barley with up to 40% rice or corn as adjuncts. Lager yeast. Light use of hops.</p>
        </div><br/>
        <div class="style-comparison"><h5>Style Comparison</h5><p>Stronger, more flavor and body than an American Light Lager. Less bitterness and flavor than an International Pale Lager. Significantly less flavor, hops, and bitterness than traditional European Pilsners.</p>
        </div><br/>
        <div class="vital-statistics"><h5>Vital Statistics</h5>
{#        <div style="display: inline-block"><h5>IBU</h5></div><div style="display: inline-block"><p>&nbsp;&nbsp;8 - 12</p></div><br/>#}
{#        <div style="display: inline-block"><h5>SRM</h5></div><div style="display: inline-block"><p>&nbsp;&nbsp;2 - 3</p></div><br/>#}
{#        <div style="display: inline-block"><h5>OG</h5></div><div style="display: inline-block"><p>&nbsp;&nbsp;&nbsp;1.028 - 1.040</p></div><br/>#}
{#        <div style="display: inline-block"><h5>FG</h5></div><div style="display: inline-block"><p>&nbsp;&nbsp;&nbsp;0.998 - 1.008</p></div><br/>#}
{#        <div style="display: inline-block"><h5>ABV</h5></div><div style="display: inline-block"><p>&nbsp;&nbsp;2.8% - 4.2%</p></div><br/>#}
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">IBU</th>
                  <td>8-19</td>
                </tr>
                <tr>
                  <th scope="row">SRM</th>
                  <td>2-3.5</td>
                </tr>
                <tr>
                  <th scope="row">OG</th>
                  <td>1.040 - 1.050</td>
                </tr>
                <tr>
                  <th scope="row">FG</th>
                  <td>1.004 - 1.010</td>
                </tr>
                <tr>
                  <th scope="row">ABV</th>
                  <td>4.2% - 5.3%</td>
                </tr>
              </tbody>
            </table>
        </div><br/>
        <div class="commercial-examples"><h5>Commercial Examples</h5><b></b>Budweiser, Coors Original, Grain Belt Premium Lager, Miller High Life, Old Style, Pabst Blue Ribbon, Special Export.</div><br/><br/>
        <div class="past-revision"><h5>Past Revision</h5><a href='https://www.bjcp.org/style/2015/1/1A/american-light-lager/'>American Lager (2015)</a></div><br/><br/>
        <div class="style-attributes"><h5>Style Attributes</h5><p><i class="fa fa-tags"></i>  <a href="https://www.bjcp.org/style-tags/balanced/" rel="tag">balanced</a>, <a href="https://www.bjcp.org/style-tags/bottom-fermented/" rel="tag">bottom-fermented</a>, <a href="https://www.bjcp.org/style-tags/lagered/" rel="tag">lagered</a>, <a href="https://www.bjcp.org/style-tags/north-america/" rel="tag">north-america</a>, <a href="https://www.bjcp.org/style-tags/pale-color/" rel="tag">pale-color</a>, <a href="https://www.bjcp.org/style-tags/pale-lager-family/" rel="tag">pale-lager-family</a>, <a href="https://www.bjcp.org/style-tags/session-strength/" rel="tag">standard-strength</a>, <a href="https://www.bjcp.org/style-tags/traditional-style/" rel="tag">traditional-style</a> </p></div><br/>
        </div>
    </div>

    {% else %}
        {{ s }}
    {% endif %}

    </div>

{% endblock %}