{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h3>Categories</h3>
        <br/>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"">
                  <h5>Standard American Beer</h5>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This category describes everyday American beers that have a wide public appeal. Containing both ales and lagers, the beers of this
category are not typically complex, and have smooth, accessible flavors. The ales tend to have lager-like qualities, or are designed to
appeal to mass-market lager drinkers as crossover beers. Mass-market beers with a more international appeal or origin are
described in the International Lager category.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h5>International Lager</h5>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                International lagers are the premium, industrial, mass-market lagers produced in most countries in the world. Whether developed
from American or European styles, they all tend to have a fairly uniform character and are heavily marketed. Loosely derived from
original Pilsner-type lagers, with colored variations having additional malt flavors while retaining a broad appeal. In many
countries, the styles will be referred to by their local country names. The use of the term “international” doesn’t mean that any beers
are actually labeled as such, but is more of a categorization of similar beers produced worldwide.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h5>Czech Lager</h5>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Czech lagers are generally divided by gravity class (draft, lager, special) and color (pale, amber, dark). The Czech names for these
categories are světlé (pale), polotmavé (amber), and tmavé (dark). The gravity classes are výčepní (draft, 7–10 °P), ležák (lager, 11–12
°P), and speciální (special, 13 °P+). Pivo is of course the Czech word for beer. The division into gravity classes is similar to the German
groupings of schankbier, vollbier, and starkbier, although at different gravity ranges. Czech beers within the classes are often simply
referenced by their gravity. There are often variations within the gravity-color groupings, particularly within the speciální class. The
style guidelines combine some of these classes, while other beers in the Czech market are not described (such as the strong Czech
Porter). This is not to imply that the categories below are the full coverage of Czech beers, simply a way of grouping some of the more
commonly found types for judging purposes.
Czech lagers in general are differentiated from German and other Western lagers in that German lagers are almost always fully
attenuated, while Czech lagers can have a slight amount of unfermented extract remaining in the finished beer. This helps provide a
slightly higher finishing gravity (and thus slightly lower apparent attenuation), slightly fuller body and mouthfeel, and a richer,
slightly more complex flavor profile in equivalent color and strength beers. German lagers tend to have a cleaner fermentation
profile, while Czech lagers are often fermented cooler (7–10 °C) and for a longer time, and can have a light, barely noticeable (near
threshold) amount of diacetyl that often is perceived more as a rounded body than overtly in aroma and flavor [significant buttery
diacetyl is a flaw]. Czech lager yeast strains are not always as clean and attenuative as German strains, which helps achieve the
higher finishing gravity (along with the mashing methods and cooler fermentation). Czech lagers are traditionally made with
decoction mashes (often double decoction), even with modern malts, while most modern German lagers are made with infusion or
step infusion mashes. These differences characterize the richness, mouthfeel, and flavor profile that distinguishes Czech lagers.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <h5>Pale Malty European Lager</h5>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This style category contains pale German lagers of vollbier to starkbier strength that emphasize the flavor of Pilsner malt in the
balance while remaining well-attenuated.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <h5>Pale Bitter European Beer</h5>
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                This category describes German-origin beers that are pale and have an even to bitter balance with a mild to moderately strong hoppy
character featuring traditional German hops. They are generally bottom-fermented or are lagered to provide a smooth profile, and
are well-attenuated as are most German beers.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  <h5>Amber Malty European Lager</h5>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This category groups amber-colored, German-origin, bottom-fermented lagerbiers that have a malty balance and are vollbier to
starkbier in strength.
              </div>
            </div>
          </div>
        </div>


    </div>

{% endblock %}