{% extends "base.html" %}
{% block content %}
<br/>
    <div class="container">
        <h1>About webside</h1>
        <hr class="my-4">
        </br>
        <h4>Gain knowledge</h4>
        <p>Learn about all beer styles from oficial BJCP data. Read about specificity of each style and its parameters</p>
        </br>
        <hr class="my-4">
        </br>
        <h4>Create own recipes</h4>
        <p>Make your own beer recipes easy way. Create and use your own custom ingredients.</p>
        </br>
        <hr class="my-4">
        </br>
        <h4>Share recipes with friends</h4>
        <p>Link with your people and share your recipes publicly or keep your recipes private and send to your friend via email.</p>
        </br>
        <hr class="my-4">
        </br>
        <h4>Explore other recipes</h4>
        <p>Get to know other perspectives and explore, like and comment recipes of other brewers.</p>
        </br>
        <hr class="my-4">
        </br>
        <h5 style="text-align:center">Get access to all functionalities right now</h5>
        </br>
        <button  class="btn btn-success btn-lg" style="width: 100%" name="fermentable_submit" value="fermentable_submit" onclick="location.href='/register';">Create account</button>
    </div>
<br/>
{% endblock %}
