{% extends "base.html" %}
{% block content %}

    <div class="container" style="width: 90%; alignment: center">

    <div class="card">
    <div class="card-body">

        <h3>{{ recipe_name }}</h3>
        <br/>
        <table class="table">
              <tbody>
                <tr>
                  <th scope="row"><h5></h5></th>
                  <td></td>
                </tr>
                <tr>
                    <th scope="row"><h5>Description</h5></th>
                    {% if chosen_recipe[34] != '' %}
                        <td>{{ chosen_recipe[34] }}</td>
                    {% else %}
                        <td> - </td>
                    {% endif %}
                </tr>
                <tr>
                  <th scope="row"><h5>Style</h5></th>
                  <td>{{ chosen_recipe[3] }}</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Author</h5></th>
                  <td>{{ chosen_recipe[1] }}</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Added</h5></th>
                  <td>{{ chosen_recipe[6] }}</td>
                </tr>
                <tr>
                  <th scope="row"><h5></h5></th>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row"><h5>Type</h5></th>
                  <td>{{ chosen_recipe[4] }}</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Batch size</h5></th>
                  <td>{{ chosen_recipe[7] }} &nbsp;L</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Boiling time</h5></th>
                  <td>{{ chosen_recipe[8] }} &nbsp;min</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Evaporation</h5></th>
                  <td>{{ chosen_recipe[9] }} &nbsp;%/h</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Boiling losses</h5></th>
                  <td>{{ chosen_recipe[10] }} &nbsp;%</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Fermentation losses</h5></th>
                  <td>{{ chosen_recipe[11] }} &nbsp;%</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Boil size</h5></th>
                  <td>{{ chosen_recipe[12] }} &nbsp;L</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Wort size</h5></th>
                  <td>{{ chosen_recipe[13] }} &nbsp;L</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Fermentables</h5></th>
                  <td>
                      {% for i in range(chosen_recipe[14].split(",")|length) %}
                        {{ chosen_recipe[14].split(",")[i] }},&nbsp; {{ chosen_recipe[15].split(",")[i] }} &nbsp;kg<br/>
                      {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row"><h5>Hops</h5></th>
                  <td>
                      {% for i in range(chosen_recipe[16].split(",")|length) %}
                          {% if chosen_recipe[17].split(",")[i] != "Dry" %}
                            {{ chosen_recipe[16].split(",")[i] }},&nbsp; {{ chosen_recipe[17].split(",")[i] }},&nbsp; {{ chosen_recipe[18].split(",")[i] }}&nbsp;min,&nbsp; {{ chosen_recipe[19].split(",")[i] }}&nbsp;g<br/>
                          {% else %}
                            {{ chosen_recipe[16].split(",")[i] }},&nbsp; {{ chosen_recipe[17].split(",")[i] }},&nbsp; {{ chosen_recipe[18].split(",")[i] }}&nbsp;days,&nbsp; {{ chosen_recipe[19].split(",")[i] }}&nbsp;g<br/>
                          {% endif %}
                      {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row"><h5>Others</h5></th>
                  <td>
                      {% for i in range(chosen_recipe[20].split(",")|length) %}
                        {{ chosen_recipe[20].split(",")[i] }},&nbsp; {{ chosen_recipe[21].split(",")[i] }}&nbsp;g,&nbsp; {{ chosen_recipe[22].split(",")[i] }}<br/>
                      {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row"><h5>Yeast</h5></th>
                    <td>{{ chosen_recipe[23] }}<br/>Primary fermentation:&nbsp; {{ chosen_recipe[24] }}&nbsp;days<br/>Secondary fermentation:&nbsp; {{ chosen_recipe[25] }}&nbsp;days</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Expected efficiency</h5></th>
                    <td>{{ chosen_recipe[26] }} &nbsp;%</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Temperature</h5></th>
                  <td>
                    {% for i in range(chosen_recipe[27].split(",")|length) %}
                        {{ chosen_recipe[27].split(",")[i] }}&nbsp;°C,&nbsp; {{ chosen_recipe[28].split(",")[i] }}&nbsp;min<br/>
                    {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row"><h5>Vital statistics</h5></th>
                    <td>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <h5 style="display: inline-block">OG</h5>
                                    </th>
                                    <td>
                                        &nbsp;{{ chosen_recipe[29] }} &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <h5 style="display: inline-block">FG</h5>
                                    </th>
                                    <td>
                                        &nbsp;{{ chosen_recipe[30] }} &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <h5 style="display: inline-block">IBU</h5>
                                    </th>
                                    <td>
                                        &nbsp;{{ chosen_recipe[31] }} &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <h5 style="display: inline-block">SRM</h5>
                                    </th>
                                    <td>
                                        &nbsp;{{ chosen_recipe[32] }} &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <h5 style="display: inline-block">ABV</h5>
                                    </th>
                                    <td>
                                        &nbsp;{{ chosen_recipe[33] }} &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                  <th scope="row"><h5>Estimated price</h5></th>
                    <td>{{ chosen_recipe[35] }} &nbsp;PLN</td>
                </tr>
              </tbody>
        </table>
        </div>
    </div>

    <br/>

    <a id="like_count" style="display: inline-block" data-bs-toggle="tooltip_likes" data-bs-placement="left" title="{{ users_who_like }}">{{ likes_amount }} likes</a>
    <a id="comment_count" style="display: inline-block" data-bs-toggle="tooltip_comments" data-bs-placement="left" title="{{ users_who_comment }}">|&nbsp;{{ comments|length }} comments</a>

    <br/><br/>
    <div class="d-flex justify-content-between align-items-center" style="alignment: center">
    {% if if_liked %}
        <a class="btn btn-primary" id="like_it" style="background: #FBB03B; width: 49%" onclick="like('{{ chosen_recipe[2] }}')">You like it!</a>
    {% else %}
        <a class="btn btn-primary" id="like_it" style="width: 49%;" onclick="like('{{ chosen_recipe[2] }}')">Like it</a>
    {% endif %}
    <!-- Trigger/Open The Modal -->
    <button class="btn btn-primary" id="comments" style="width: 49%;">Comments</button>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
            <h2>Comments</h2>
            <button class="close">&times;</button>
        </div>
        <div class="modal-body">
          <div class="mb-3" id="current_comments" style="overflow-y:scroll; overflow-x:hidden; height:300px;">
                  {% for comment in comments %}
                          <div class="container-fluid d-flex justify-content-between align-items-center" id="comment-{{ comment[4] }}" style="vertical-align: middle">
                              <div style="padding-top: 5px">
                                  <h5 style="display: inline-block">{{ comment[2] }}: &nbsp;&nbsp;&nbsp;</h5>
                                  <a style="display: inline-block">{{ comment[3] }}</a>
                              </div>
                              <div>
                              <small>{{ comment[4] }}&nbsp;&nbsp;&nbsp;</small>
                                  {% if comment[1] == session['id'] %}
                                        <button class="btn-primary" onclick="delete_comment('{{ recipe_name }}','{{ comment[4] }}')">Delete</button>
                                  {% else %}
                                        <button id="delete_comment" class="btn-primary" style="border: none; background: #fefefe; color: #fefefe" disabled>Delete</button>
                                  {% endif %}
                              </div>
                          </div>
                            <br id="space_between_comments-{{ comment[4] }}"/>
                  {% endfor %}
          </div>
            <hr class="my-4">
              <div class="form-group">
                  <small id="comment_alert" style="color: #FBB03B"></small><br/>
                  <input type="text" id="comment_input" class="form-control mb-2" placeholder="Write here your comment" name="new_comment" maxlength="80" required>
                  <button onclick="add_comment('{{ chosen_recipe[2] }}')" class="btn btn-primary" style="width: 100%;">Add comment</button>
              </div>
        </div>
      </div>

    </div>

</div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("comments");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }


        function like(recipe_name) {
            const like_count = document.getElementById('like_count');
            const like_button = document.getElementById('like_it');
            const tooltip = document.getElementById('tooltip_likes')

            fetch(`/public_recipes/like/${recipe_name}`, {method: 'POST'})
                .then((res) => res.json())
                .then((data) => {
                    like_count.innerHTML = data['likes'] + ' likes';
                    like_count.title = data['users_who_like'];
                    if (data['liked']) {
                        like_button.style.background = '#FBB03B';
                        like_button.textContent = 'You like it!';
                    } else {
                        like_button.style.background = 'black';
                        like_button.style.color = 'white';
                        like_button.textContent = 'Like it';
                    }
                });

        }

        function add_comment(recipe_name) {
            let content = document.getElementById("comment_input").value;
            const current_comments  = document.getElementById('current_comments');
            const comment_count = document.getElementById('comment_count')
            const comment_alert = document.getElementById('comment_alert')
            const comment_button = document.getElementById('comments');
            const tooltip = document.getElementById('tooltip_comments')

            if (content !== '') {

                fetch(`/public_recipes/${recipe_name}/comments`,
                    {
                        method: 'POST',
                        body: JSON.stringify({
                            'content': content,
                        }),
                        headers: {
                            'Content-type': 'application/json; charset=UTF-8'
                        }
                    })
                    .then((res) => res.json())
                    .then((data) => {
                        comment_alert.innerHTML = "Comment has been added";
                        current_comments.innerHTML += "<div class=\"container-fluid d-flex justify-content-between align-items-center\"><div><h5 style=\"display: inline-block\">" + data['user_who_add_comment'] + ": " + "&nbsp;&nbsp;&nbsp;</h5><a style=\"display: inline-block\">" + content + "</a></div><div><small>" + data['date_created'] + "&nbsp;&nbsp;&nbsp;&nbsp;</small><button class=\"btn-primary\">Delete</button></div></div><br/>"
                        comment_count.innerHTML = " | " + data['comments'] + ' comments';
                        comment_count.title = data['users_who_comment']
                    });
            } else {
                comment_alert.innerHTML = "You cannot add empty comment!";
            }

        }

        function delete_comment(recipe_name, date) {
            const comment_to_delete = document.getElementById("comment-" + date)
            const space_between_comments = document.getElementById("space_between_comments-" + date)
            const comment_count = document.getElementById('comment_count')
            const comment_alert = document.getElementById('comment_alert')

            fetch(`/public_recipes/${recipe_name}/comments/${date}`, {
                method: 'DELETE',
            })
            .then((res) => res.json())
            .then((data) => {
               comment_to_delete.remove();
               space_between_comments.remove();
               comment_count.innerHTML = " | " + data['comments'] + ' comments';
               comment_count.title = data['users_who_comment']
               comment_alert.innerHTML = "Comment has been deleted";
            });

        }


    </script>
{% endblock %}