{% extends "base.html" %}
{% block content %}
    <div class="container element" style="width: 50%; alignment: center" >
        {% for recipe in public_recipes %}
        <div class="card" style="display: inline-block; width: 100%;">
          <div class="card-header d-flex justify-content-between align-items-center">
              <h4 class="card-title">{{ recipe[2] }}</h4>
              {% set likes_counter = namespace(value=0) %}
              {% set comments_counter = namespace(value=0) %}
              {% for like in all_likes %}
                  {% if recipe[0] == like[0] %}
                      {%  set likes_counter.value = likes_counter.value + 1 %}
                  {% endif %}
              {% endfor %}
              {% for comment in all_comments %}
                  {% if recipe[0] == comment[0] %}
                    {% set comments_counter.value = comments_counter.value + 1 %}
                  {%  endif %}
              {% endfor %}
              <p  style="display: inline-block;">Likes: {{ likes_counter.value }} |  Comments: {{ comments_counter.value }}</p>
          </div>
          <div class="card-body">
            {% if (recipe[34] != '') %}
                <p class="card-text">{{ recipe[34] }}<br/></p>
            {% else %}
                <p class="card-text"> - <br/></p>
            {% endif %}
            <h6 class="card-subtitle mb-2 text-muted"><h6 style="display: inline-block">STYLE:</h6> {{ recipe[3] }}</h6>
            <h6 class="card-subtitle mb-2 text-muted"><h6 style="display: inline-block">AUTHOR:</h6> {{ recipe[1] }}</h6>
            <h6 class="card-subtitle mb-2 text-muted"><h6 style="display: inline-block">ADDED:</h6> {{ recipe[6] }}</h6>
              <br/><br/>
            <a href="{{ url_for('recipes.public_recipe', recipe_name=recipe[2]) }}" class="btn btn-primary btn-sm" style="display: inline-block; width: 100%">Open</a>
          </div>
        </div>
            <br/><br/>
        {% endfor %}

        <br/><br/>
        <div id="pagination" class="pagination" style="justify-content: right"></div>
    </div>

    <script>
        $(".element .card").slice(1).hide();
        $('#pagination').pagination({

            // Total number of items present
            // in wrapper class
            items: {{ counter }},

            // Items allowed on a single page
            itemsOnPage: 1,
            onPageClick: function (noofele) {
                $(".element .card").hide()
                    .slice(1 * (noofele - 1),
                    1 + 1 * (noofele - 1)).show();
            }
        });
    </script>
{% endblock %}