{% extends "base.html" %}

{% block content %}
    <div class="container">
      <form action="{{ url_for('recipes.add_recipe') }}" method="post">
        <h4>Recipe info</h4>
        <div>
            <div class="form-group" style="display: inline-block; width:500px">
                <div class="input-group">
                <input type="text" pattern="^[a-zA-Z\s]+[a-zA-Z]$" name="recipe_name" class="form-control" id="recipe_name" placeholder="Enter recipe name" required>
                </div>
            </div>
            <div class="form-group" style="display: inline-block; width:320px">
                <select class="form-select" id="exampleSelect1" name="recipe_style" required>
                    <option value="" disabled selected>Choose style</option>
                    {% for style in styles %}
                        <option>{{ style }}</option>
                    {%  endfor %}
                </select>
            </div>
            <div class="form-group" style="display: inline-block; width:230px">
                <select class="form-select" id="exampleSelect2" name="recipe_type" required>
                    <option value="" disabled selected>Choose type</option>
                    <option>All grain</option>
                    <option>Partial mash</option>
                    <option>Extract</option>
                </select>
            </div>
            <div class="form-group" style="display: inline-block; width:230px">
                <select class="form-select" id="exampleSelect2" name="visibility" required>
                    <option value="" disabled selected>Choose visibility</option>
                    <option>Public</option>
                    <option>Private</option>
                </select>
            </div>
        </div>
        <hr class="my-4">
        <h4>Batch info</h4>
        <div>
            <div class="form-group">
                <div class="input-group mb-3" style="width:320px">
                    <input type="number" pattern="^[a-zA-Z\s]+[a-zA-Z]$" class="form-control" placeholder="Enter batch size" name="batch_size" min="5" max="50" required>
                    <span class="input-group-text">L</span>
                </div>
            </div>
            <div>
                <div class="form-group" style="display: inline-block">
                    <div class="input-group mb-3" style="width:320px">
                        <input type="number" class="form-control" placeholder="Enter boiling time" name="boiling_time" min="10" max="120" required>
                        <span class="input-group-text">min</span>
                    </div>
                </div>
                <div class="form-group" style="display: inline-block">
                    <div class="input-group mb-3" style="width:320px">
                        <input type="number" class="form-control" placeholder="Enter evaporation" name="evaporation" min="0" max="100" required>
                        <span class="input-group-text">%/h</span>
                    </div>
                </div>
                <div class="form-group" style="display: inline-block">
                    <div class="input-group mb-3" style="width:320px">
                        <input type="number" class="form-control" placeholder="Enter boiling losses" name="boiling_losses" min="0" max="100" required>
                        <span class="input-group-text">%</span>
                    </div>
                </div>
                <div class="form-group" style="display: inline-block">
                    <div class="input-group mb-3" style="width:320px">
                        <input type="number" class="form-control" placeholder="Enter fermentation losses" name="fermentation_losses" min="0" max="100" required>
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-warning">Calculate</button>
        </div>

        <hr class="my-4">
        <p>Boil size: </p>
        <p>Wort size: </p>
        <hr class="my-4">
        <h4>Fermentables</h4>
            <table class="table table-hover" id="fermentablesTable">
                <thead>
                    <tr>
                        <th scope="col" style="width: 800px">Ingredient</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        <th scope="row">
                            <select class="form-select" id="exampleSelect1" name="fermentable" required>
                                <option value="" disabled selected>Choose ingredient</option>
                                {% for fermentable in fermentables %}
                                <option>{{ fermentable }}</option>
                                {%  endfor %}
                            </select>
                        </th>
                        <td>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter amount" name="fermentable_amount" min="2" max="10" required>
                                <span class="input-group-text">kg</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-warning" onclick="add_row('fermentablesTable')" style="width: 150px">Add row</button>
            <button type="button" class="btn btn-danger" onclick="delete_row('fermentablesTable')" style="width: 150px">Delete row</button>
        <hr class="my-4">
        <h4>Hops</h4>
            <table class="table table-hover" id="hopTable">
                <thead>
                    <tr>
                        <th scope="col" style="width: 450px">Hop</th>
                        <th scope="col" style="width: 250px">Usage</th>
                        <th scope="col" style="width: 300px">Time</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        <th scope="row">
                            <select class="form-select" id="exampleSelect1" name="hop" required>
                                <option value="" disabled selected>Choose hop</option>
                                {% for hop in hops %}
                                <option>{{ hop }}</option>
                                {%  endfor %}
                            </select>
                        </th>
                        <td>
                            <div class="input-group mb-3">
                                <select class="form-select" id="exampleSelect1" name="hop_usage" required>
                                    <option value="" disabled selected>Choose usage</option>
                                    <option>Boil</option>
                                    <option>Aroma</option>
                                    <option>Dry</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter time" name="time_value" min="10" max="100" required>
                                <select class="input-group-text" id="exampleSelect1" name="time_option" required>
                                    <option selected>min</option>
                                    <option>days</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter amount" name="hop_amount" min="100" max="500" required>
                                <span class="input-group-text">g</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-warning" onclick="add_row('hopTable')" style="width: 150px">Add row</button>
            <button type="button" class="btn btn-danger" onclick="delete_row('hopTable')" style="width: 150px">Delete row</button>
        <hr class="my-4">
        <h4>Others</h4>
            <table class="table table-hover" id="othersTable">
                <thead>
                    <tr>
                        <th scope="col" style="width: 450px">Ingredient</th>
                        <th scope="col" style="width: 280px">Amount</th>
                        <th scope="col">Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        <th scope="row">
                            <select class="form-select" id="exampleSelect1" name="other" required>
                                <option value="" disabled selected>Choose ingredient</option>
                                {% for other in others %}
                                <option>{{ other }}</option>
                                {%  endfor %}
                            </select>
                        </th>
                        <td>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter amount" name="other_amount" min="100" max="500" required>
                                <span class="input-group-text">g</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" pattern="^[a-zA-Z\s]+[a-zA-Z]$" class="form-control" name="other_info">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-warning" onclick="add_row('othersTable')" style="width: 150px">Add row</button>
            <button type="button" class="btn btn-danger" onclick="delete_row('othersTable')" style="width: 150px">Delete row</button>
        <hr class="my-4">
        <h4>Fermentation</h4>
        <div>
            <div class="form-group" style="display: inline-block">
                <div class="input-group mb-3" style="width:500px">
                    <select class="form-select" id="exampleSelect1" name="yeast" required>
                        <option value="" disabled selected>Choose yeast</option>
                        {% for yeast in yeasts %}
                         <option>{{ yeast }}</option>
                        {%  endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group" style="display: inline-block">
                <div class="input-group mb-3" style="width:390px">
                    <input type="number" class="form-control" placeholder="Enter primary fermentation time" name="primary_fermentation" min="10" max="30" required>
                    <span class="input-group-text">days</span>
                </div>
            </div>
            <div class="form-group" style="display: inline-block">
                <div class="input-group mb-3" style="width:390px">
                    <input type="number" class="form-control" placeholder="Enter secondary fermentation time" name="secondary_fermentation" min="10" max="30" required>
                    <span class="input-group-text">days</span>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <h4>Mash</h4>
            <div class="form-group">
                <div class="input-group mb-3" style="width:320px">
                    <input type="number" class="form-control" placeholder="Enter expected efficiency" name="efficiency" min="0" max="100" required>
                    <span class="input-group-text">%</span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3" style="width:320px">
                    <input type="number" class="form-control" placeholder="Enter water/grain ratio" name="water_grain_ratio" min="10" max="30" required>
                    <span class="input-group-text">L/kg</span>
                </div>
            </div>
            <table class="table table-hover" id="mashTable">
                <thead>
                    <tr>
                        <th scope="col">Temperature</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        <th scope="row">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter Temperature" name="mash_temperature" min="5" max="40" required>
                                <span class="input-group-text">°C</span>
                            </div>
                        </th>
                        <td>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter time" name="mash_time" min="30" max="180" required>
                                <span class="input-group-text">min</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-warning" onclick="add_row('mashTable')" style="width: 150px">Add step</button>
            <button type="button" class="btn btn-danger" onclick="delete_row('mashTable')" style="width: 150px">Delete row</button>

        <hr class="my-4">
        <h4>Details</h4>
        <div>
            <div>
                <span>Original gravity: </span>
                <span style="float: right;">1.020 - 1.030 </span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div>
                <span>Final gravity: </span>
                <span style="float: right;">1.005 - 1.010 </span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div>
                <span>IBU: </span>
                <span style="float: right;">20 - 30 </span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div>
                <span>SRM: </span>
                <span style="float: right;">10 - 15</span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div>
                <span>ABV: </span>
                <span style="float: right;">4 - 5</span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <hr class="my-4">
        <h4>Notes</h4>
        <div class="form-group">
            <textarea class="form-control" id="exampleTextarea" rows="5" name="notes"></textarea>
{#            <input type="text" pattern="^[a-zA-Z\s]+[a-zA-Z]$" name="notes" class="form-control" id="notes" placeholder="Enter some notes" required>#}
        </div>
      <br>
      <button type="submit" class="btn btn-primary" style="width: 100%" name="submit" value="submit">Save recipe</button>
      </form>
    </div>

    <script>
    function add_row(tableID){
        var table=document.getElementById(tableID)
            var cl = table.tBodies[0].rows[0].cloneNode(true)
            table.tBodies[0].appendChild( cl )
    }
    function delete_row(tableID){
        var table=document.getElementById(tableID)
            table.tBodies[0].rows[1].remove()

    }
    </script>


{% endblock %}