{% extends "base.html" %}

{% block content %}
    <div class="container">
      <form action="{{ url_for('recipes.add_recipe') }}" method="post">
        <h4>Recipe info</h4>
        <div>
            <div class="form-group" style="display: inline-block; width:500px">
                <div class="input-group">
                <input type="text" pattern="^[a-zA-Z\s]+[a-zA-Z]$" name="recipe_name" class="form-control" id="recipe_name" placeholder="Enter recipe name" required>
                </div>
            </div>
            <div class="form-group" style="display: inline-block; width:320px">
                <select class="form-select" id="exampleSelect1" name="recipe_style" required>
                    <option value="" disabled selected>Choose style</option>
                    {% for style in styles %}
                        <option>{{ style }}</option>
                    {%  endfor %}
                </select>
            </div>
            <div class="form-group" style="display: inline-block; width:230px">
                <select class="form-select" id="exampleSelect2" name="recipe_type" required>
                    <option value="" disabled selected>Choose type</option>
                    <option>All grain</option>
                    <option>Partial mash</option>
                    <option>Extract</option>
                </select>
            </div>
            <div class="form-group" style="display: inline-block; width:230px">
                <select class="form-select" id="exampleSelect2" name="visibility" required>
                    <option value="" disabled selected>Choose visibility</option>
                    <option>Public</option>
                    <option>Private</option>
                </select>
            </div>
        </div>
        <hr class="my-4">
        <h4>Batch info</h4>
        <div>
            <div class="form-group">
                <div class="input-group mb-3" style="width:320px">
                    <input type="number" pattern="^[a-zA-Z\s]+[a-zA-Z]$" class="form-control" placeholder="Enter batch size" name="batch_size" id="batch_size" min="5" max="100" required>
                    <span class="input-group-text">L</span>
                </div>
            </div>
            <div>
                <div class="form-group" style="display: inline-block">
                    <div class="input-group mb-3" style="width:320px">
                        <input type="number" class="form-control" placeholder="Enter boiling time" name="boiling_time" id="boiling_time" min="0" max="200" required>
                        <span class="input-group-text">min</span>
                    </div>
                </div>
                <div class="form-group" style="display: inline-block">
                    <div class="input-group mb-3" style="width:320px">
                        <input type="number" class="form-control" placeholder="Enter evaporation" name="evaporation" id="evaporation" min="0" max="100" required>
                        <span class="input-group-text">%/h</span>
                    </div>
                </div>
                <div class="form-group" style="display: inline-block">
                    <div class="input-group mb-3" style="width:320px">
                        <input type="number" class="form-control" placeholder="Enter boiling losses" name="boiling_losses" id="boiling_losses" min="0" max="100" required>
                        <span class="input-group-text">%</span>
                    </div>
                </div>
                <div class="form-group" style="display: inline-block">
                    <div class="input-group mb-3" style="width:320px">
                        <input type="number" class="form-control" placeholder="Enter fermentation losses" name="fermentation_losses" id="fermentation_losses"min="0" max="100" required>
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-warning" onclick="calculate_size()">Calculate</button>
            <button type="button" class="btn btn-warning" onclick="gravity()">Calculate</button>
        </div>

        <hr class="my-4">
        <p id="boil_size">Boil size: </p>
        <p id="wort_size">Wort size: </p>
        <hr class="my-4">
        <h4>Fermentables</h4>
            <table class="table table-hover" id="fermentablesTable">
                <thead>
                    <tr>
                        <th scope="col" style="width: 800px">Ingredient</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        <th scope="row">
                            <select class="form-select" id="fermentables" name="fermentable" required>
                                <option value="" disabled selected>Choose ingredient</option>
                                {% for fermentable in fermentables_for_combobox %}
                                <option>{{ fermentable }}</option>
                                {%  endfor %}
                            </select>
                        </th>
                        <td>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter amount" id="fermentable_amount" name="fermentable_amount" min="0" max="30" required>
                                <span class="input-group-text">kg</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-warning" onclick="add_row('fermentablesTable')" style="width: 150px">Add row</button>
            <button type="button" class="btn btn-danger" onclick="delete_row('fermentablesTable')" style="width: 150px">Delete row</button>
        <hr class="my-4">
        <h4>Hops</h4>
            <table class="table table-hover" id="hopTable">
                <thead>
                    <tr>
                        <th scope="col" style="width: 450px">Hop</th>
                        <th scope="col" style="width: 250px">Usage</th>
                        <th scope="col" style="width: 300px">Time</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        <th scope="row">
                            <select class="form-select" id="exampleSelect1" name="hop" required>
                                <option value="" disabled selected>Choose hop</option>
                                {% for hop in hops_for_combobox %}
                                <option>{{ hop }}</option>
                                {%  endfor %}
                            </select>
                        </th>
                        <td>
                            <div class="input-group mb-3">
                                <select class="form-select" id="exampleSelect1" name="hop_usage" required>
                                    <option value="" disabled selected>Choose usage</option>
                                    <option>Boil</option>
                                    <option>Aroma</option>
                                    <option>Dry</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter time" name="time_value" min="0" max="200" required>
                                <select class="input-group-text" id="exampleSelect1" name="time_option" required>
                                    <option selected>min</option>
                                    <option>days</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter amount" name="hop_amount" min="0" max="1000" required>
                                <span class="input-group-text">g</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-warning" onclick="add_row('hopTable')" style="width: 150px">Add row</button>
            <button type="button" class="btn btn-danger" onclick="delete_row('hopTable')" style="width: 150px">Delete row</button>
        <hr class="my-4">
        <h4>Others</h4>
            <table class="table table-hover" id="othersTable">
                <thead>
                    <tr>
                        <th scope="col" style="width: 450px">Ingredient</th>
                        <th scope="col" style="width: 280px">Amount</th>
                        <th scope="col">Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        <th scope="row">
                            <select class="form-select" id="exampleSelect1" name="other" required>
                                <option value="" disabled selected>Choose ingredient</option>
                                {% for other in others %}
                                <option>{{ other }}</option>
                                {%  endfor %}
                            </select>
                        </th>
                        <td>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter amount" name="other_amount" min="0" max="5000" required>
                                <span class="input-group-text">g</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" pattern="^[a-zA-Z\s]+[a-zA-Z]$" class="form-control" name="other_info">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-warning" onclick="add_row('othersTable')" style="width: 150px">Add row</button>
            <button type="button" class="btn btn-danger" onclick="delete_row('othersTable')" style="width: 150px">Delete row</button>
        <hr class="my-4">
        <h4>Fermentation</h4>
        <div>
            <div class="form-group" style="display: inline-block">
                <div class="input-group mb-3" style="width:500px">
                    <select class="form-select" id="yeast" name="yeast" required>
                        <option value="" disabled selected>Choose yeast</option>
                        {% for yeast in yeasts_for_combobox %}
                         <option>{{ yeast }}</option>
                        {%  endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group" style="display: inline-block">
                <div class="input-group mb-3" style="width:390px">
                    <input type="number" class="form-control" placeholder="Enter primary fermentation time" name="primary_fermentation" min="0" max="30" required>
                    <span class="input-group-text">days</span>
                </div>
            </div>
            <div class="form-group" style="display: inline-block">
                <div class="input-group mb-3" style="width:390px">
                    <input type="number" class="form-control" placeholder="Enter secondary fermentation time" name="secondary_fermentation" min="0" max="30" required>
                    <span class="input-group-text">days</span>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <h4>Mash</h4>
            <div class="form-group">
                <div class="input-group mb-3" style="width:320px">
                    <input type="number" class="form-control" placeholder="Enter expected efficiency" id="efficiency" name="efficiency" min="0" max="100" required>
                    <span class="input-group-text">%</span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3" style="width:320px">
                    <input type="number" class="form-control" placeholder="Enter water/grain ratio" name="water_grain_ratio" min="0" max="20" required>
                    <span class="input-group-text">L/kg</span>
                </div>
            </div>
            <table class="table table-hover" id="mashTable">
                <thead>
                    <tr>
                        <th scope="col">Temperature</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        <th scope="row">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter Temperature" name="mash_temperature" min="0" max="100" required>
                                <span class="input-group-text">°C</span>
                            </div>
                        </th>
                        <td>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Enter time" name="mash_time" min="0" max="200" required>
                                <span class="input-group-text">min</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-warning" onclick="add_row('mashTable')" style="width: 150px">Add step</button>
            <button type="button" class="btn btn-danger" onclick="delete_row('mashTable')" style="width: 150px">Delete row</button>

        <hr class="my-4">
        <h4>Details</h4>
        <div>
            <div>
                <span>Original gravity: </span>
                <span style="float: right;">1.020 - 1.030</span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div>
                <span>Final gravity: </span>
                <span style="float: right;">1.005 - 1.010 </span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div>
                <span>IBU: </span>
                <span style="float: right;">20 - 30 </span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div>
                <span>SRM: </span>
                <span style="float: right;">10 - 15</span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div>
                <span>ABV: </span>
                <span style="float: right;">4 - 5</span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <hr class="my-4">
        <h4>Notes</h4>
        <div class="form-group">
             <textarea class="form-control" id="exampleTextarea" rows="5" name="notes"></textarea>
{#            <input type="text" pattern="^[a-zA-Z\s]+[a-zA-Z]$" name="notes" class="form-control" id="notes" placeholder="Enter some notes" required> #}
        </div>
      <br>
      <button type="submit" class="btn btn-primary" style="width: 100%" name="submit" value="submit">Save recipe</button>
      </form>
    </div>

    <script>
    function add_row(tableID){
        var table=document.getElementById(tableID)
            var cl = table.tBodies[0].rows[0].cloneNode(true)
            table.tBodies[0].appendChild( cl )
    }
    function delete_row(tableID){
        var table=document.getElementById(tableID)
            table.tBodies[0].rows[1].remove()

    }
    function calculate_size(){
        var batch_size = document.getElementById('batch_size').value
        var boiling_time = document.getElementById('boiling_time').value
        var evaporation = document.getElementById('evaporation').value
        var boiling_losses = document.getElementById('boiling_losses').value
        var fermentation_losses = document.getElementById('fermentation_losses').value

        boiling_time = boiling_time / 60
        boiling_losses = boiling_losses / 100
        fermentation_losses = fermentation_losses / 100
        evaporation = evaporation / 100

        var boil_size = 0;
        var wort_size = 0;

        if (batch_size !== '') {
            wort_size = parseFloat(batch_size) + parseFloat(batch_size) * parseFloat(fermentation_losses)
            boil_size = wort_size + (wort_size * parseFloat(boiling_losses))
            boil_size = boil_size + (boil_size * (parseFloat(boiling_time) * parseFloat(evaporation)))

            var boil_size_field = document.getElementById('boil_size')
            var wort_size_field = document.getElementById('wort_size')

            boil_size_field.innerText = 'Boil size: ' + Math.round(boil_size) + ' L'
            wort_size_field.innerText = 'Wort size: ' + Math.round(wort_size) + ' L'
        }

        return wort_size;
    }

    {#def gravity(gravity_contributions, amounts, efficiency, volume, attenuation):#}
    {#    gravity_points = []#}
    {#    n = len(gravity_contributions)#}
    {#    for i in range(n):#}
    {#        points = int(str(gravity_contributions)[-2:])#}
    {#        gravity_points.append(points)#}
    {##}
    {#    points_sum = 0#}
    {#    for i in range(n):#}
    {#        points_sum += gravity_points[i] * amounts[i] / 2.2#}
    {##}
    {#    total = round((points_sum * 0.01 * efficiency) / (volume / 3.78)) / 1000#}
    {#    og = total + 1#}
    {#    fg = og - 0.01 * attenuation * og#}
    {#    return og, fg#}

    {#function gravity {#}
        {#var volume = document.getElementsByName();#}
        {#var gravity_contributions = "hehe";#}
        {#var gravity_points = [];#}
        {#var n = length(gravity_contributions);#}
        {#var points;#}
        {#for (let i = 0; i < n; i++) {#}
        {#    points = parseInt(gravity_contributions.slice(-2));#}
        {#    gravity_points.push(points)#}
        {##}
        {#var points_sum = 0;#}
        {##}
        {#for (let i = 0; i < n; i++) {#}
        {#    points_sum += gravity_points[i] * amounts[i] / 2.2;#}
        {##}
        {##}
        {#var total = Math.round((points_sum * 0.01 * efficiency) / (volume / 3.78)) /1000#}
        {#var og = total + 1;#}
        {#var fg = og - 0.01 * attenuation * og;}#}

    function gravity() {
        var flaskData = JSON.parse('{{data | tojson | safe}}');

        {# attenuation is ready #}
        var yeast = document.getElementById("yeast");
        yeast = yeast.options[yeast.selectedIndex].text;
        var yeasts_names = flaskData.yeasts_names;
        var yeasts = flaskData.yeasts;
        var index = yeasts_names.indexOf(yeast)
        var attenuation = 0;
        if (yeast === "Choose yeast") {
            attenuation = 0
        } else {
            attenuation = yeasts[index][1]
        }
        {#console.log(attenuation)#}

        {# efficiency is ready #}
        var efficiency = 0;
        if (document.getElementById("efficiency").value === '') {
            efficiency = 0;
        } else {
            efficiency = document.getElementById("efficiency").value;
        }
        efficiency = parseInt(efficiency);
        {#console.log(efficiency);#}

        {# amounts is ready #}
        var fermentable_amount = document.getElementsByName("fermentable_amount");
        var fermentable_amounts = [];
        fermentable_amount.forEach( function (a) {
            a = a.value;
            if (a === '') {
                a = 0;
            }
            fermentable_amounts.push(parseInt(a));
        });
        {#console.log(fermentable_amounts)#}

        {# volume is ready #}
        var volume = calculate_size()
        if(volume === 0) {
            volume = 1;
        }
        {#console.log(volume)#}

        {# gravity_contributions is ready #}
        var fermentable = document.getElementsByName("fermentable");
        var gravity_contributions = []
        var srms = []
        var fermentables_names = flaskData.fermentables_names;
        var fermentables = flaskData.fermentables;
        var index = fermentables_names.indexOf(fermentable)
        fermentable.forEach(function (f) {
            f = f.options[f.selectedIndex].text;
            var index = fermentables_names.indexOf(f)

            if (f === "Choose ingredient") {
                gravity_contributions.push(0)
                srms.push(0)
            } else {
                gravity_contributions.push(fermentables[index][2]);
                srms.push(fermentables[index][1]);
            }
        });
        {#console.log(gravity_contributions)#}

        var gravity_points = [];
        gravity_contributions.forEach( function (g) {
            g = g * 1000 - 1000;
            gravity_points.push(g);
        })
        {#console.log(gravity_points)#}

        var points_sum = 0;
        var n = gravity_points.length;

        for (let i = 0; i < n; i++) {
            points_sum += gravity_points[i] * fermentable_amounts[i] * 2.2;
        }

        var total = Math.round((points_sum * efficiency * 0.01) / (volume / 3.78)) / 1000;

        {# og is ready #}
        var og = total + 1;

        {# fg is ready #}
        var fg = (Math.round((og * 1000 - 1000) - 0.01 * attenuation * (og * 1000 - 1000)) / 1000) + 1;

        {#console.log(og);#}
        {#console.log(fg);#}

        {# abv is ready #}
        var abv = Math.round((og - fg) * 131.25 * 10) / 10;
        {#console.log(abv);#}

        var mcu = 0;
        for (let i = 0; i < n; i++) {
            mcu += fermentable_amounts[i] * srms[i] * 2.2 / (volume / 3.78);
        }
        {# srm is ready #}
        var srm = Math.round(1.4922 * (mcu ** 0.6859) * 10) / 10;
        console.log(srm);




        return [og, fg, abv, srm];
    }
    </script>


{% endblock %}