{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header py-5">
        <h1 style="text-align: center">Registration</h1>
    </div>
</div>
<div class="container" style="max-width: 500px;">
{#    <form method="post">#}
{#        {{  form.hidden_tag() }}#}
{#        {{  form.username.label(class="form-label") }}#}
{#        {{  form.username(class="form-control", placeholder="Enter username") }}#}
{#        <br/>#}
{#        {{  form.email.label(class="form-label") }}#}
{#        {{  form.email(class="form-control", placeholder="Enter email") }}#}
{#        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
{#        <br/><br/>#}
{#        {{  form.password.label(class="form-label") }}#}
{#        {{  form.password(class="form-control", placeholder="Password") }}#}
{#        <br/>#}
{#        {{  form.age.label(class="form-label") }}#}
{#        {{  form.age(class="form-control", id="exampleSelect1") }}#}
{#        <br/>#}
{#        {{  form.bio.label(class="form-label") }}#}
{#        {{  form.bio(class="form-control") }}#}
{#        <br/>#}
{#        {{  form.accept(class="form-check-input") }} <small> I agree to the Terms and Conditions</small>#}
{#        <br/><br/>#}
{#        {{ form.submit(class="btn btn-primary", style="width: 100%") }}#}
{#    </form>#}
    <form>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Confirm password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Retype password">
    </div>
    <div class="form-group">
      <label for="exampleSelect1" class="form-label mt-4">Example select</label>
      <select class="form-select" id="exampleSelect1">
          {% for i in ages %}
              <option>{{ i }}</option>
          {%  endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4">Your bio</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
        <br/>
    <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        <small> I agree to the Terms and Conditions </small>
    </label>
    </div>
        <br/>
    <button type="submit" class="btn btn-primary" style="width: 100%">Register</button>
    <br/><br/>
    </form>
</div>

{% endblock %}