<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<input type="text" id="nameValidation" value="HelloWorld"/>
<button id="button" onclick="addMessage()">hehehe</button>
<div id="hehe"></div>
<script>
    function addMessage() {
        let content = $('#nameValidation').val(); // get message content

        if (content) {
            console.log(`Adding message: ${content}`);
        }
        $('#hehe').append('<p>huhuhuhuh ' + content + '</p>')
    }
</script>