{% extends "base.html" %}
{% block content %}

    <div class="container" style="width: 50%; alignment: center">

    <div class="card">
    <div class="card-body">

        <h3>{{ chosen_recipe[2] }}</h3>
        <br/>
        <table class="table">
              <tbody>
                <tr>
                  <th scope="row"><h5></h5></th>
                  <td></td>
                </tr>
                <tr>
                    <th scope="row"><h5>Description</h5></th>
                    {% if chosen_recipe[34] != '' %}
                        <td>{{ chosen_recipe[34] }}</td>
                    {% else %}
                        <td> - </td>
                    {% endif %}
                </tr>
                <tr>
                  <th scope="row"><h5>Style</h5></th>
                  <td>{{ chosen_recipe[3] }}</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Author</h5></th>
                  <td>{{ chosen_recipe[1] }}</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Added</h5></th>
                  <td>{{ chosen_recipe[6] }}</td>
                </tr>
                <tr>
                  <th scope="row"><h5></h5></th>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row"><h5>Type</h5></th>
                  <td>{{ chosen_recipe[4] }}</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Batch size</h5></th>
                  <td>{{ chosen_recipe[7] }} &nbsp;L</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Boiling time</h5></th>
                  <td>{{ chosen_recipe[8] }} &nbsp;min</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Evaporation</h5></th>
                  <td>{{ chosen_recipe[9] }} &nbsp;%/h</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Boiling losses</h5></th>
                  <td>{{ chosen_recipe[10] }} &nbsp;%</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Fermentation losses</h5></th>
                  <td>{{ chosen_recipe[11] }} &nbsp;%</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Boil size</h5></th>
                  <td>{{ chosen_recipe[12] }} &nbsp;L</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Wort size</h5></th>
                  <td>{{ chosen_recipe[13] }} &nbsp;L</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Fermentables</h5></th>
                  <td>
                      {% for i in range(chosen_recipe[14].split(",")|length) %}
                        {{ chosen_recipe[14].split(",")[i] }},&nbsp; {{ chosen_recipe[15].split(",")[i] }} &nbsp;kg<br/>
                      {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row"><h5>Hops</h5></th>
                  <td>
                      {% for i in range(chosen_recipe[16].split(",")|length) %}
                          {% if chosen_recipe[17].split(",")[i] != "Dry" %}
                            {{ chosen_recipe[16].split(",")[i] }},&nbsp; {{ chosen_recipe[17].split(",")[i] }},&nbsp; {{ chosen_recipe[18].split(",")[i] }}&nbsp;min,&nbsp; {{ chosen_recipe[19].split(",")[i] }}&nbsp;g<br/>
                          {% else %}
                            {{ chosen_recipe[16].split(",")[i] }},&nbsp; {{ chosen_recipe[17].split(",")[i] }},&nbsp; {{ chosen_recipe[18].split(",")[i] }}&nbsp;days,&nbsp; {{ chosen_recipe[19].split(",")[i] }}&nbsp;g<br/>
                          {% endif %}
                      {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row"><h5>Others</h5></th>
                  <td>
                      {% for i in range(chosen_recipe[20].split(",")|length) %}
                        {{ chosen_recipe[20].split(",")[i] }},&nbsp; {{ chosen_recipe[21].split(",")[i] }}&nbsp;g,&nbsp; {{ chosen_recipe[22].split(",")[i] }}<br/>
                      {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row"><h5>Yeast</h5></th>
                    <td>{{ chosen_recipe[23] }}<br/>Primary fermentation:&nbsp; {{ chosen_recipe[24] }}&nbsp;days<br/>Secondary fermentation:&nbsp; {{ chosen_recipe[25] }}&nbsp;days</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Expected efficiency</h5></th>
                    <td>{{ chosen_recipe[26] }} &nbsp;%</td>
                </tr>
                <tr>
                  <th scope="row"><h5>Temperature</h5></th>
                  <td>
                    {% for i in range(chosen_recipe[27].split(",")|length) %}
                        {{ chosen_recipe[27].split(",")[i] }}&nbsp;°C,&nbsp; {{ chosen_recipe[28].split(",")[i] }}&nbsp;min<br/>
                    {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row"><h5>Vital statistics</h5></th>
                    <td>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <h5 style="display: inline-block">OG</h5>
                                    </th>
                                    <td>
                                        &nbsp;{{ chosen_recipe[29] }} &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <h5 style="display: inline-block">FG</h5>
                                    </th>
                                    <td>
                                        &nbsp;{{ chosen_recipe[30] }} &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <h5 style="display: inline-block">IBU</h5>
                                    </th>
                                    <td>
                                        &nbsp;{{ chosen_recipe[31] }} &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <h5 style="display: inline-block">SRM</h5>
                                    </th>
                                    <td>
                                        &nbsp;{{ chosen_recipe[32] }} &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <h5 style="display: inline-block">ABV</h5>
                                    </th>
                                    <td>
                                        &nbsp;{{ chosen_recipe[33] }} &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                  <th scope="row"><h5>Estimated price</h5></th>
                    <td>{{ chosen_recipe[35] }} &nbsp;PLN</td>
                </tr>
              </tbody>
        </table>
        </div>
    </div>
    <br/>
    <button class="btn btn-primary" id="share_button" style="width: 100%; border: 2px solid white">Share this recipe</button>
    <br/>
    <a class="btn btn-primary" href="{{ url_for('recipes.edit_recipe_get', recipe_id=chosen_recipe[0]) }}" id="edit_button" style="width: 100%; border: 2px solid white">Edit recipe</a>
    <button class="btn btn-danger" id="delete_button" style="width: 100%; border: 2px solid white">Delete recipe</button>

        <!-- The Modal -->
    <div id="shareModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
            <h2>Sharing the recipe</h2>
            <button class="shareClose" style="border: none;">&times;</button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
              <h5>Enter the username below that you want to share the recipe with</h5><br/>
                  <small id="share_alert" style="color: #FBB03B"></small><br/><br/>
                  <input type="text" pattern="^[A-Za-z0-9]+[A-Za-z0-9]$" id="username_to_share_input" class="form-control mb-2" placeholder="Enter username" name="username_to_share_input" required>
              <br/>
              <hr class="my-4">
              <br/>
                  <button onclick="share_recipe({{ chosen_recipe[0] }}, {{ existing_users_usernames }})" class="btn btn-primary" style="width: 100%;">Share recipe</button>
          </div>
        </div>
      </div>

    </div>

            <!-- The Modal -->
    <div id="deleteModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
            <h2>Deleting the recipe</h2>
            <button class="close deleteClose">&times;</button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
              <h5>Are you sure you want to delete your recipe?</h5><br/>
              <hr class="my-4">
              <br/>
                <a class="btn btn-danger" href="{{ url_for('recipes.delete_recipe', recipe_id=chosen_recipe[0]) }}" id="edit_button" style="width: 100%; border: 2px solid white">Yes, delete this recipe</a>
                <button class="btn btn-primary" id="cancel_delete_button" style="border: 2px solid white; width: 100%">Cancel</button>
          </div>
        </div>
      </div>

    </div>



    </div>




    <script>
    // Get the modal
    var modalShare = document.getElementById("shareModal");

    // Get the button that opens the modal
    var shareBtn = document.getElementById("share_button");

    // Get the <span> element that closes the modal
    var shareSpan = document.getElementsByClassName("shareClose")[0];

    // When the user clicks the button, open the modal
    shareBtn.onclick = function() {
      modalShare.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    shareSpan.onclick = function() {
      modalShare.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modalShare) {
        modalShare.style.display = "none";
      }
    }


        // Get the modal
    var modalDelete = document.getElementById("deleteModal");

    // Get the button that opens the modal
    var deleteBtn = document.getElementById("delete_button");
    var cancelDeleteBtn = document.getElementById("cancel_delete_button")

    // Get the <span> element that closes the modal
    var deleteSpan = document.getElementsByClassName("deleteClose")[0];

    // When the user clicks the button, open the modal
    deleteBtn.onclick = function() {
      modalDelete.style.display = "block";
    }

    cancelDeleteBtn.onclick = function() {
      modalDelete.style.display = "none";
    }

    // When the user clicks on <span> (x), close the modal
    deleteSpan.onclick = function() {
      modalDelete.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modalShare) {
        modalDelete.style.display = "none";
      }
    }

    function share_recipe(recipe_id, existing_users_usernames){
        const username = document.getElementById('username_to_share_input');
        const share_alert = document.getElementById('share_alert')
        let x = Boolean(false);

        for (let i=0; i<existing_users_usernames.length; i++) {
            if(username.value === existing_users_usernames[i]) {
                x = Boolean(true);
            }
        }

        if(x) {
            fetch(`/user_recipe/share/${recipe_id}/${username.value}`, {method: 'POST'})
            .then((data)=> {
                share_alert.innerText = "Recipe has been shared"
                share_alert.style.color = "yellowgreen"
            });
        }

        else if (username.value === ''){
            share_alert.style.color = "crimson";
            share_alert.innerHTML = "Please fill the field below";}
        else {
            share_alert.style.color = "crimson";
            share_alert.innerHTML = "User with this username do not exists";
        }

    }
    </script>
{% endblock %}